#prodetails {
  display: flex;
  margin: 60px 0px 60px 0px;
}

/* Styles for error message */
.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  position: relative;
}


#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  margin-top: 10px;
  flex-basis: 24%;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  padding: 0px 0px 0px 20px;
  background-color: rgba(246 246 246);
}

.small-img-col > img {
  width: 100px;
  height: 100px;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background-color: #088178;
  color: #fff;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}
